Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@Aqib-Muhammad-Aslam 
adeelansari2785
/
NodeJS
1
00
Code
Issues
Pull requests
8
Actions
Projects
Wiki
Security
Insights
NodeJS/expressexample/mywebsite2/views/createform.ejs
@adeelansari2785
adeelansari2785 ok
…
Latest commit b2bd3a1 on Mar 6
 History
 1 contributor
51 lines (51 sloc)  1.15 KB
  
<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
 <style>
  .login-form {
    width: 300px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
  }
  .login-form h1 {
    text-align: center;
    color: #4d4d4d;
    font-size: 24px;
    padding: 20px 0 20px 0;
  }
  .login-form input[type="password"],
  .login-form input[type="text"],[type="number"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing:border-box;
  }
  .login-form input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #535b63;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
  }
  </style>
</head>
<body>
<% include partials/menu%>
<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="login-form">
    <form action="create" method="POST">
      <input type="text" name="name" placeholder="name" required>
      <input type="number" name="price" placeholder="price" required>
      <input type="submit" value="Create">
    </form>
  </div>
</div>
</body>
<% include partials/script %>
</html>